{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
<button class="menu-main-toggle" aria-label="Expand or collapse the main menu navigation">
  <div class="menu-icon">
    <div class="menu-icon__bar"></div>
    <div class="menu-icon__bar"></div>
    <div class="menu-icon__bar"></div>
  </div>
</button>

{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}

{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}

  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass('main-menu') }} role="menubar">
    {% endif %}

      {% for item in items %}
        {%
          set classes = [
            'menu-item',
            item.is_expanded ? 'menu-item--expanded',
            item.is_collapsed ? 'menu-item--collapsed',
            item.in_active_trail ? 'menu-item--active-trail',
          ]
        %}
        <li{{ item.attributes.addClass(classes) }} role="none">
          {# the top level/parent link #}
          {{ link(item.title, item.url, {'role': 'menuitem'}) }}

          {# if the menu item has a submenu #}
          {% if item.below %}
            {# the submenu toggle #}
            <button class="menu__submenu-toggle" aria-label="Toggle submenu for {{ item.title }}" aria-expanded="false">
              <svg class="submenu-toggle__icon" aria-hidden="true" fill="#ed3100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"/></svg>
            </button>

            {# the submenu#}
            <div class="menu__submenu">
              <ul class="submenu" role="menu" aria-label="{{ item.title }}">
                {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
              </ul>
            </div>
          {% endif %}
        </li>
      {% endfor %}

    {% if menu_level == 0 %}
      </ul>
    {% endif %}

  {% endif %}
{% endmacro %}

{{ attach_library('repeat_dpl_june22/menu--main') }}